body {
  color: #333333;
  font-family: oswald, sans-serif;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
}

footer {
  color: #888888;
  border-top: 1px solid #eeeeee;
  margin-top: 16px;
  padding: 16px 0;
}

header {
  margin-top: 16px;
  margin-bottom: 48px;
}

h1 {
  font-size: 64px;
  margin-bottom: 16px;
}

header a {
  color: #888888;
  margin-right: 16px;
  text-decoration: none;
}

.portrait {
  width: 250px;
}

img {
  border-radius: 50%;
}

* {
  outline: none;
  border: none;
  padding: 0;
}

body {
  background-color: rgb(71, 136, 135);
}

.search-form {
  position: relative;
  margin: 150px auto 0;
  width: 300px;
}

.search-form:before {
  content: " ";
  position: absolute;
  left: 25px;
  top: 14px;
  width: 2px;
  height: 36px;
  transform: scale(0);
  z-index: 1;
  background: rgb(71, 136, 135);
  transition: all 0.5s cubic-bezier(0.87, -0.41, 0.19, 1.44);
}

.active:before {
  transform: scale(1);
  transition-delay: 0.3s;
  animation: 0.6s cubic-bezier(0.87, -0.41, 0.19, 1.44) 0.5s infinite forwards
    focus;
}

input {
  border-radius: 36px;
  position: absolute;
  width: 64px;
  height: 64px;
  transition: all 0.5s cubic-bezier(0.87, -0.41, 0.19, 1.44);
}

.active input {
  width: 100%;
  padding-left: 25px;
  border-radius: 36px;
}

button {
  background: rgba(255, 255, 255, 1);
  position: absolute;
  height: 100%;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  transition: all 0.5s cubic-bezier(0.87, -0.41, 0.19, 1.44);
}

button:after {
  content: " ";
  position: absolute;
  width: 32px;
  height: 32px;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  margin: 0 auto;
  background: rgb(254, 111, 117);
  border-radius: 50%;
}

button:before {
  content: " ";
  position: absolute;
  width: 24px;
  height: 24px;
  left: 0;
  right: 0;
  top: 20px;
  transform: scale(0);
  transform-origin: left top;
  margin: 0 auto;
  background: white;
  border-radius: 50%;
  z-index: 1;
  transition: all 0.8s ease;
}

.active button {
  transform: translateX(260px);
}

.active button:before {
  transform: scale(1);
}

.focus:before {
  transform: scale(0);
  animation: none;
}

@keyframes focus {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
