<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
  <title>help</title>
  <link rel="icon" href="/img/weather.png">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="main-content">
    {{!-- using partials --}}
    {{>header}}
    <p>{{helpText}}</p>
    <p>Hi,if you like this project and want to contribute. you are always welcome</p>
    <p>open a pull request here </p>
  </div>

  {{>footer}}
</body>

</html>